---
import Fallback from '../components/Fallback.astro';
import Panel from '../components/Panel.astro';
import Quote from '../components/Quote.astro';
import Layout from '../layouts/Layout.astro';
import { getIsInLanus } from '../components/Location.astro';

// Espera a que la función asincrónica se resuelva
const isInLanus = true;
---

<Layout title="Astro Server Islands">
  <section>
    <h1>Astro Server Islands</h1>
    {isInLanus ? ( 
      <Quote server:defer>
        <Fallback slot="fallback" />
      </Quote>
    ) : (
      <p>No estás en Lanús.</p>
    )}
    <Panel />
  </section>
</Layout>

